@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

main {
  padding: 10px;
  font-family: inherit;
  color: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  margin: 20px 0;
}

input, button, .add-form, .item-display {
  border-radius: 15px;
  border: 1px solid black;
}

input, button {
  font-family: inherit;
  padding: 10px;
  background-color: #eee;
}

input {
  font-size: 0.75rem;
}

button {
  cursor: pointer;
  font-size: 1rem;
}

.toggle-form-btn {
  margin: 10px 0;
}

.add-form, .item-display {
  padding: 10px;
}

.add-form {
  background-color: rgba(32, 175, 247, 0.7);

  display: flex;
  flex-direction: column;

  width: 50%;
}

.add-form>* {
  margin: 10px 0;
}

h3 {
  font-size: 1.5rem;
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-display {
  background-color: rgba(153, 50, 204, 0.8);
  margin: 20px;
  position: relative;
}

h4 {
  font-size: 1.25rem;
  margin: 10px 5px;
}

.item-display p {
  margin: 10px 5px;
}

i {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
}

.edit-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-form * {
  margin: 0 5px;
}