<main>
  <h1>Shopping Cart</h1>

  <button class="toggle-form-btn" (click)="toggleAddForm()">Add Item</button>

  <form class="add-form" *ngIf="addFormVisible" #addForm="ngForm" (ngSubmit)="addItem(addForm); toggleAddForm()">
    <h3>Add a New Item</h3>
    <label for="">Product Name:</label>
    <input type="text" ngModel name="product">
    <label for="">Price:</label>
    <input type="number" ngModel name="price">
    <label for="">Quantity:</label>
    <input type="number" ngModel name="quantity">
    <button>Add</button>
  </form>

  <section class="cart-container">
    <div class="item-display" *ngFor="let item of shoppingCart; index as i">
      <h4>{{item.product}}</h4>
      <p>Price: {{item.price | currency}}</p>
      <p>Quantity: {{item.quantity}}</p>
      <i class="material-icons remove-icon" (click)="deleteItem(item.id)">clear</i>
      <form class="edit-form" #editForm="ngForm" (ngSubmit)="updateItem(item)">
        <label for="">Update Quantity:</label>
        <input type="number" [(ngModel)]="item.quantity" name="quantity">
        <button>Update</button>
      </form>
    </div>
  </section>
</main>